body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #141414;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.wrapper{
    margin: 0 auto;
}
header{
    position: fixed;
    padding: 10px;
    width: 99%;
    height: 70px;
    display: flex;
    color: white;
    z-index: 1;
    background-color: #141414;
}
header a{
    margin: 30px 12.5px 25px 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgb(59, 144, 255);
    transition: all 0.3s ease;
}

.otyz:hover{
    color: white;
}
header input:hover{
    filter: contrast(50%);
    cursor: pointer;
    transition: all 0.3s ease;
}
.headbutton{
    margin: -12.5px -5px 25px 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    background-color:rgb(59, 144, 255);
    height: 17.5px;
    width: 260px;
    padding: 12.5px;
    border-radius:15px;
}
.headbutton:hover{
    filter:opacity(90%);
    transition: all 0.3s ease;
}
.headjoin{
    width: max-content;
    height: max-content;
    background: rgb(41, 40, 40);
    border-radius: 15px;
    border: 0ch;
    padding: 12.5px;
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 18px 0px 0px 10px;
    cursor: pointer;
    text-transform:uppercase ;
}
.headjoin:hover{
    filter: contrast(85%);
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}
.homepage{
    margin-top: 30px;
}



.headersearch{
    width: 130px;
    height: 42.5px;
    background: rgb(41, 40, 40);
    border-radius: 15px;
    border: 0ch;
    margin:17px 10px 15px 40px;
    font-size: 17px;
    text-align: center;
    color: white;
}
main{
    position: absolute;
    top:90px;
    
    
}
main img{
    cursor: pointer;
    
    
}
.suret400px{
    display: none;
}
.ser{
    margin: 20px;
    font-size: 37.5px;
    color: white;
}
.janr{
    height: 50px;
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color:#313131;
    margin-top:20px ;
    display: flex;
}
.janrvse{
    width: max-content;
    height: max-content;
    background: rgb(28, 28, 28);
    border-radius: 5px;
    border: 0ch;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: rgb(173, 173, 173);
    margin: 7.5px 0px 0px 10px;
    cursor: pointer;
    text-transform:uppercase ;
   
}
.janrvse:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    filter: contrast(70%);
}


.main-menu {
    margin: 0;
    padding: 0;
    margin: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: optional;
    color: white;
    
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;   
    color: white;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-decoration: none;   
}
.main-menu > li > a:hover {
    text-decoration: none;   
    color: #337AB7;
}
.main-menu > li > a:after {
    width: 0;
    height: 2px;
    background-color: #337AB7;
    content: '';
    left: 0;
    bottom: 2px;
    position: absolute;
    transition: all 0.3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    margin-right: 12px;
}
.main-menu li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #337AB7;
    font-size: 20px;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}
.main-menu li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    right: 10px;
    top: 12px;
}
.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: rgb(59, 144, 255);
    position: absolute;
    z-index: 20;
    min-width: 200px;
    top: 100%;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
   
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    transition: all 0.3s;
    text-decoration: none;   
    
}
.main-menu ul li a:hover {
    color: rgb(59, 144, 255);
    background: #FFF;
    text-decoration: none;   
    border-radius: 5px;
}
.main-menu ul ul {
    top: 0;
    left: 100%;
}
.films{
    display: flex;
    justify-content: center;
}
.serials{
    margin: 10px;
    color: white;
    font-size: 20px;
   
}
.serials a{
    color: rgb(114, 114, 114);
}
.serials:hover img{
    transform: scale(1.06);
    transition: all 0.4s ease;

}
.online{
    width: 75%;
    height: auto;
    color: white;
    margin-left: 150px;
    color: rgb(114, 114, 114);
 
}
.online h2{
    text-align: center;
    color: rgb(199, 194, 194);
}
footer{
    position: absolute;
    top:2100px;
    width: 100%;
    height: 400px;
}
.socialsetter{
    display: flex;
    margin: 10px 0px 5px 150px;    
}
.iconssotset{
    margin: 99px 50px 0px 350px;
    width: 45%;
    height: 300px;
}
.socialsets{
    display: flex;
    text-align: center;
    
}
.sotset{
    margin: 5px;
}
.sotset:hover{
    filter: brightness(85%);
    cursor: pointer;
    transition: all 0.3s ease;
}
.nadpis{
    display: flex;
    color: white;
    font-size: 17.5px;
}
.nadpis p{
    margin: 7px;
}
.nadpis p:hover{
    filter: contrast(50%);
    transition: all 0.3s ease;
    cursor: pointer;

}
footer a{
    color: white;
    position: absolute;
    top:325px;
    font: optional;
    font-size: 13px;
}
.footerfixed{
    bottom:0;
    position: fixed;
    height: 50px;
    width: 100%;
    border-top: 0.5px solid #404040;
    background-color: #141414;
    display: none;
    z-index: 1;
    box-sizing: border-box;
    color:white;

}
.imgsfoot{
    margin: 5px 80px 5px 80px;
    cursor: pointer;
   
}
.imgsfoot a{
    color: silver;
    position: absolute;
    bottom: 15px;
   
}
.search400px,.football,.recom400px,.homepage400px,.search401px{
    display: none;
}


/*-----------mediaqueries------------*/
@media only screen and (max-width:800px){
   
    .homepage{
        display: none;
    }
    .headjoin{
        display: none;
    }
    main img{
        width: 100%;
        height: auto;
    }
    .headersearch{
        margin-left: 200px;
    }
    .ser{
        font-size: 25px;
    }
    main .heajoin{
        display: block;
    }
    .janrvse{
        display: none;
    }
    .main-menu{
        font-size: 27.5px;
    }
    .janr{
        justify-content: center;
    }
    .online{
        justify-content: center;
    }
    footer{
        top:1700px;
        right:200px;
    }
    .footerfixed{
        display: block;
    }
    .football{
        display: none;
    }
    .recom400px{
        display: none;
    }
   
}
@media only screen and (max-width:400px){
    .suret400px{
        display: block;
        margin-top: 30px;
    }
    .suret1290px{
        display: none;
    }
    
    .headersearch{
        display: none;

    }
    .homepage{
        display: none;
    }
    .homepage400px{
        position: absolute;
        top:80px;
        left: 20px;
    }
    .headbutton{
        margin-left: 20px;
        height: max-content;
        width: max-content;
        font-size: 11px;
    }
    header img{
        width: 100px;
        height: auto;
    }
    header{
        height: 90px;
    }
    .search401px img{
        display: block;
        width: 40px;
        height: auto;
        margin-top:15px;

    }
    .online{
        display: none;
    }
    .janrvse{
        display: block;
        font-size: 15px;
    }
    .main-menu{
        display: none;
    }
    .serials img{
        width: 175px;
        height: auto;

    }
    .recom{
        display: none;
    }
    .recom400px{
        display: block;
    }
    footer{
        display: none;
    }
    .football{
        display: block;
        top: 2100px;
        right:350px;
    }
    .socialsetter{
        margin-left:10px;
    }
    .nadpis{
        display: grid;
    }
    .footerfixed{
        display: none;
    }
   
    .search401px{
        display: block;
    }
    
    
        
}


