body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #141414;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.wrapper{
    width: 1290px;
    margin: 0 auto;
}
header{
    position: fixed;
    width: 99%;
    height: 70px;
    display: flex;
    color: white;
    z-index: 1;
    background-color: #141414;
    padding: 10px;
    margin-top: -21.5px;
}
header a{
    margin: 30px 12.5px 25px 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgb(59, 144, 255);
    transition: all 0.3s ease;
}
.otyz:hover{
    color: white;
}

header input:hover{
    filter: contrast(50%);
    cursor: pointer;
    transition: all 0.3s ease;
}
.headbutton{
    margin: 18px 0px 25px 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    background-color:rgb(59, 144, 255);
    height: max-content;
    width: max-content;
    padding: 12.5px;
    border-radius:15px;
}
.headbutton:hover{
    filter:opacity(90%);
    transition: all 0.3s ease;
}
.headjoin{
    width: max-content;
    height: max-content;
    background: rgb(41, 40, 40);
    border-radius: 15px;
    border: 0ch;
    padding: 12.5px;
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 18px 0px 0px 10px;
    cursor: pointer;
    text-transform:uppercase ;
}
.headjoin:hover{
    filter: contrast(85%);
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}
.headersearch{
    width: 130px;
    height: 42.5px;
    background: rgb(41, 40, 40);
    border-radius: 15px;
    border: 0ch;
    margin:17px 10px 15px 40px;
    font-size: 17px;
    text-align: center;
    color: white;
}
/*-----------*/

a{
    color: #808080;
    text-decoration: none;
}

.container{
    margin-right: 166px;
    margin-left: 166px;
}

.main-div1{
    margin-left: 35px;
}

.div1 a{
    text-decoration: none;
}

.image-items{
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content: center;
}

.image-item{
    width: 320px;
    margin: 0 10px;
}

.image-item p{
    color: #fff;
}

.image-1{
    display: block;
    border-radius: 7px;
    width: 100%;
    transition: 0.4s;
    height: auto;
}

.image-1:hover{
    transform: scale(1.1);
    z-index: 1;
}

.mobile-apps{
    margin-left: 350px;
    margin-top: 50px;
}

.mobile-apps img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 15px;
}

.foot-text{
    margin-left: 140px;
    margin-top: 20px;
}

.foot-text a{
    color: #fff;
    margin-right: 20px;
}

.foot-texts{
    text-align: center;
    word-spacing: 15px;
    margin-top: 20px;
}

.icons{
    margin-left: 230px;
    margin-top: 50px;
    
}

.icon{
    width: 120px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.end{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.data{
    font-size: 12px;
    
}

.more img{
    width: 140px;
    height: 30px;
}

.sk img{
    width: 40px;
    height: 40px;
}

/*---------*/
footer{
    position: absolute;
    top:1800px;
    width: 100%;
    height: 400px;
}
.socialsetter{
    display: flex;
    margin: 10px 0px 5px 150px;    
}
.iconssotset{
    margin: 99px 50px 0px 350px;
    width: 45%;
    height: 300px;
}
.socialsets{
    display: flex;
    text-align: center;
    
}
.sotset{
    margin: 5px;
}
.sotset:hover{
    filter: brightness(85%);
    cursor: pointer;
    transition: all 0.3s ease;
}
.nadpis{
    display: flex;
    color: white;
    font-size: 17.5px;
}
.nadpis p{
    margin: 7px;
}
.nadpis p:hover{
    filter: contrast(50%);
    transition: all 0.3s ease;
    cursor: pointer;

}
footer a{
    color: white;
    position: absolute;
    top:325px;
    font: optional;
    font-size: 13px;
}