body{ 
    margin: 0 auto;
    padding: 0 auto;
    background-color: #141414;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
   
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    width: 1290px;
    margin: 0px auto;
}
.container,.container1,.container2{
    width: 1290px;
    margin: 0px auto;
    
}
.first{
    height: 700px;
    width: 100%;
    background-image: url(moreimages/moreinter.jpg);
    background-size: cover;
}
.icon{
    padding: 15px 0px 0px 0px;
}
.first a{
    text-decoration: none;
    color: rgb(179, 177, 177);
}
.home{
    text-decoration: none;
    color: rgb(179, 177, 177);
    margin-left: 25px;
}
.nadpis{
    width: 500px;
    height: 300px;
    margin: 25px;
    font-size: 42.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headbutton{
    margin: 18px 0px 25px 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22.5px;
    background-color:rgb(59, 144, 255);
    height: max-content;
    width: max-content;
    padding: 17.5px;
    border-radius:10px;

}
.headbutton:hover{
    filter:opacity(85%);
    transition: all 0.3s ease;
    color: white;
}
.headjoin{
    float: right;
    margin-right:20px;
    margin-top: -50px;
    width: max-content;
    height: max-content;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border: 0ch;
    font-size: 13px;
    padding: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-transform:uppercase ;
}
.headjoin:hover{
    filter: contrast(50%);
    cursor: pointer;
    transition: all 0.4s ease;
    color: white;
}
.xit{
    font-size: 20px;
    margin-left: 25%;
}
.films{
    display: flex;
    margin-left: 50px;

}
.cinema{
    margin: 25px;
    cursor: pointer;
}
.television{
    display: flex;
    margin-top: 100px;
    
}
.rolls{
    font-size:32px;
    margin: 100px 340px 40px 20px;
}
.rolls p{
    color: gray;
    font-size: 20px;
}
.kanal{
    float: inline-end;
    cursor: pointer;
    
}
footer{
    background-image: url(moreimages/footernys.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 40px;
    padding-top: 100px;
}
.tenge{
    display: flex;
}
.opacity{
    margin-left: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 450px;
    width:400px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 50px;
  
}
.mes{
    margin-top: -20px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.opacity p{
    color: gray;
    font-size: 25px;
}
.footerbutton{
    margin: 18px 0px 25px 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    background-color:rgb(59, 144, 255);
    height: max-content;
    width: max-content;
    padding: 10px;
    border-radius:10px;

}
.footerbutton:hover{
    filter:opacity(85%);
    transition: all 0.3s ease;
    color: white;
}

.opacitys{
    margin-left: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 450px;
    width:400px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 50px;
  
}
.opacitys p{
    color: gray;
    font-size: 25px;
}

